.container {
  width: 100%;
  max-width: 1280px;
  height: 100vh;
  padding: 0 2rem;
  margin: 0 auto;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}