.header {
  position: absolute;
  width: 100%;
  padding: 0 2rem;
  z-index: 9999;
}

.header-authenticated {
  position: relative;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 44px;
  padding: 0 2rem;
  z-index: 9999;
}

.container {
  max-width: 1280px;
  height: 7.5rem;
  margin: 0 auto;

  display: flex;
  align-items: center;
}

.header-authenticated > .container {
  width: 100%;
  justify-content: space-between;
}

.header .container nav, .header-authenticated nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .container nav ul, .header-authenticated  nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.header .container nav ul li > a, .header-authenticated  nav ul li > a {
  text-decoration: none;
  font-family: var(--fonts-roboto);
  font-weight: 500;

  color: var(--colors-text);
}

.header .container nav ul li + li, .header-authenticated  nav ul li + li{
  margin-left: 4.357rem;
}

.header .container .brand, .header-authenticated .brand {
  font-family: var(--fonts-roboto);
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5rem;
  letter-spacing: 0.12rem;

  color: var(--colors-title);
  margin-right: 4.375rem;
}

.header .container button {
  border-radius: 999px;
}

.header-authenticated button {
  border-radius: 8px;
}

/* hamburger icon */

.hamburger-icon {
  /* margin: 0 auto; */
  display: none;
  cursor: pointer;
}

.hamburger-icon div {
  width: 2.1875rem;
  height: 2.1875rem;
  margin: 6px 0;
  transition: 0.4s;
  background-color: var(--colors-white);
}

.open .mobile-menu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;


}

.mobile-menu {
  display: none;
  position: absolute;
  top: 120px;
  left: 0;
  height: calc(100vh - 120px);
  width: 100%;

  padding: 0 2rem;
  list-style: none;

  background-color: var(--colors-white);
}

.mobile-menu li {
  font-size: 2rem;
  line-height: 3.5rem;
  font-family: var(--fonts-roboto);
  font-weight: 500;

  color: var(--colors-text);
}

.mobile-menu li > a {
  display: block;
  text-decoration: none;
  /* font-family: var(--fonts-roboto);
  font-weight: 500; */
  color: var(--colors-text);
} 

@media only screen and (max-width: 768px) {
  .header .container nav, .header-authenticated nav {
    display: none;
  }

  .header .container, .header-authenticated  {
    display: flex;
    justify-content: space-between;
  }

  .hamburger-icon {
    display: block;
  }

  .open {
    display: block;
  }
}

@media (max-width: 1024px) {
  .header  {
    display: block;
    background-color: var(--colors-blue-light);
  }

  .header-authenticated {
    background-color: transparent;
  }
}